.about-wrapper {
    width: 85%;
    max-width: 1200px;
    display: flex;

}
.about-content-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

#about h3 {
    font-size: 2rem;
}

.about-card {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 20px 0;    
    justify-content: space-between;
    align-items: start;
}

.about-text-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 400px;
}

.profile-picture-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    align-items: center;
}

.profile-picture-container img {
    border: 10px solid var(--secondary);
    max-width: 100%;
    height: auto;
    border-radius: 50%;   
}

@media (max-width: 900px) {
    .about-text-container,.profile-picture-container {
        width: 100%;
    }

    .profile-picture-container img {
        max-width: 300px;
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .about-card {
        padding: 0;
    }
}
