.project-card {
    background-color: var(--secondary-light);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

/* project info text (LEFT SIDE) */
.project-info {
    padding: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.project-text h4 {
    font-size: 2rem;
    padding-bottom: 5px;
}

.project-text h5 {
    font-size: 1rem;
    padding-bottom: 8px;
    text-decoration: none;
}

.project-text h5 a {
    text-decoration: none;
    color: var(--text);
}

.project-text p {
    font-size: 1.1rem;
    padding-bottom: 5px;
}

/* tags */
.tag-container {
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.tags {
    background-color: var(--text);
    color: var(--inverse-text);
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 1rem;
}

/* buttons */
.link-buttons-container {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-start; 
    justify-content: space-between;
}

.link-buttons-container button {
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
}   

.link-buttons-container button div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-buttons-container button span {
    line-height: 1;
}

.deploy-link {
    background-color: var(--action);
    width: 32%;
}

.github-link, .vscode-link {
    width: 32%;
}

.github-link, .vscode-link, .button-color {
    background-color: var(--secondary);
}

/* project img (RIGHT SIDE) */
.project-img-container {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center; 
}

.project-img-container img {
    max-width: 95%;
    height: auto;
    padding: 20px;
}

@media (max-width: 1000px) {
    .project-card {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
        padding: 20px;
    }

    .project-info, .project-img-container {
        width: 100%;
    }

    
    .project-img-container img {
        padding: 0;
    }

    .project-img-container {
        justify-content: center;
    }

    .link-buttons-container {
        height: 50px;
        display: flex;
        flex-wrap: wrap;
        align-items: center; 
        margin-bottom: 60px;
    }

    .deploy-link {
        width: 100%;
    }
    
    .github-link, .vscode-link {
        width: 49%;
        margin-top: 10px;
    }

    .project-url {
        display: none;
    }
}