.project-card {
    background-color: var(--secondary);
    padding: 20px;
    display: flex;
    margin-bottom: 50px;
    min-height: 500px;
}

.project-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-text h4 {
    font-size: 2rem;
    padding-bottom: 5px;
}

.project-text h5 {
    font-size: 1rem;
    padding-bottom: 8px;
    text-decoration: none;
}

.project-text h5 a {
    text-decoration: none;
    color: var(--text);
}

.project-text p {
    font-size: 1.1rem;
    padding-bottom: 5px;
}

.tag-container {
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;

}

.tags {
    background-color: var(--text);
    color: var(--background);
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1rem;
}

.link-buttons {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.link-buttons button {
    padding: 10px;
    font-size: 1rem;
}   

.deploy-link {
    background-color: var(--action);
    width: 32%;
}

.github-link, .vscode-link {
    background-color: var(--primary);
    width: 32%;
}

.project-img-container {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center; 
}

.project-img-container img {
    max-width: 550px;
    height: auto;
}