.link-buttons-container svg {
    fill: var(--text);
    width: 40px;
    min-width: 40px;
    height: auto;
    padding-right: 2px;
}

footer svg {
    fill: #f4f1f6;
}

footer svg:hover {
    fill: var(--active)
}
