#about h5 svg {
    stroke: var(--text);
}

.socials-container svg {
    fill: var(--text);
    width: 40px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}

.link-buttons-container svg {
    fill: var(--text);
    width: 40px;
    min-width: 40px;
    height: auto;
    padding-right: 2px;
}

.view-button svg, .close-button svg {
    fill: var(--text);
    width: 40px;
    min-width: 40px;
    height: auto;
}

.view-button svg {
    padding-right: 2px;
}

.timeline-dot svg {
    fill: var(--text);
}

.download-button svg {
    display: flex;
    align-items: center;
    justify-content: center;
    stroke: var(--text);
    width: 40px;
    min-width: 40px;
    padding-right: 2px;
    fill:none;
}

/* contact */

#contact svg {
    fill: var(--text);
    width: 40px;
    min-width: 40px;
    height: auto;
    padding-right: 2px;
}

/* footer */

footer svg:hover {
    fill: var(--active)
}

footer svg {
    margin-top: 10px;
    fill: #f4f1f6;
}

.footer-socials-container svg {
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (max-width: 450px) {
    .socials-container svg,
    .footer-socials-container svg {
        width: 30px;
        height: auto;
        margin: 10px;
    }
}