.download-button, .view-button, .close-button {
    height: 72px;
    padding: 0 15px 0 15px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text);
    margin: 10px;
}

.download-button, .view-button {
    width: 200px;
}

.download-button {
    background-color: var(--action);
}

.download-button a {
    text-decoration: none;
    color: var(--text);
}

.view-button {
    background-color: var(--secondary);
}

.close-button {
    background-color: var(--action);
    margin-bottom: 20px;
    text-align: right;
}

.resume-button-container {
    width: 100%;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    margin: 20px 20px 20px 0;
}

.resume-button-container button div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.resume-button-container button span {
    line-height: 1;
}
