@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --background: #f4f1f6;
    --inverse-text: #f4f1f6;
    --primary:  rgba(16, 16, 16, 1);
    --text: rgba(16, 16, 16, 1);
    --secondary: hsl(240, 27.4%, 58%);
    --secondary-light:  hsl(240, 27.4%, 85%);;
    --action: hsl(32.471, 59.3%, 80%);
    --active: hsl(32.471, 59.3%, 80%);
    --font-size: 1.25rem;
}

/* dark theme root coming soon */