@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --background: #f4f1f6;
    --inverse-text: #f4f1f6;
    --primary:  rgba(16, 16, 16, 1);
    --text: rgba(16, 16, 16, 1);
    --secondary: rgba(141, 141, 190, 1);
    --secondary-light: rgba(141, 141, 190, .3);
    --action: #ffcb9a;
    --active: rgb(236, 245, 164);
    --font-size: 1.25rem;
}

/* dark theme root coming soon */