@import '../../App.css';

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    background-color: var(--primary);
    height: 10vh;
    min-height: 65px;
    width: 100%;
    position: sticky;
    top: 0;
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    max-width: 900px;
}

h1 {
    font-size: 1.25rem;
}

.name, .nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
}

.name {
    font-weight: bold;
}

.name, .nav-link {
    color: var(--text);
    text-decoration: none;
    margin: 10px;
    padding: 5px;
}

.nav-link:hover {
    color: var(--active);
}
.active {
    font-weight: bold;
    color: var(--active);
}

@media (max-width: 350px) {
    h1, .nav-menu {
        font-size: 1rem;
    }
}